body{
  margin: 0;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: #40514E;
}
h1{
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #66BFBF
}
h2{
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}
h3{
  font-family: 'Merriweather', serif;
  color: #11999E;
}
hr{
  border-style: dotted;
  width: 14%;
  border-width: 8px 0 0 0;
  color: #75cfb8;
  margin: 100px auto;
}
.top-container{
  padding-top: 100px;
  background-color: #E4F9F5;
}
.middle-container{
  background-color: #E4F9F5;
  padding-top: 70px;
}
.bottom-container{
  padding: 50px 0 20px;
  height: 150px;
  background-color: #caf7e3;
  font-family: 'Cinzel', serif;

}
a{
  color: #40514E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #95e1d3;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align:left;
}
p{
    line-height: 2;
}
.my-image{
  width: 10%;
}
#pro{
  font-family: 'Cinzel', serif;
  text-decoration: underline;
  font-size: 2rem;
  padding-left: 15px;
  padding-right: 2px;
}
.programmer{
  font-weight: normal;
  color: #66BFBF;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top : 40px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skills-image{
  margin right: 30px;
  padding: 10px;
  width: 20%;
  float: left;
}
.code-GIF{
  float: right;
  width: 50%;
  margin-left: 30px;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.BUTTON_ATY {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Cinzel', serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: auto auto 60px auto;
}

.BUTTON_ATY:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
